{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% include 'history_back_btn.html' %}
{% if object.loan_status == 'D' %}
    <a href="{% url 'books:loan-create-view' book_id=object.pk %}"
            class="btn btn-info bt-lg borrow-it">{% trans 'Borrow it' %}</a>
{% elif object.loan_status == 'P' %}
    <a href="{% url 'books:return-book' book_id=object.pk %}"
            class="btn btn-warning bt-lg borrow-it">{% trans 'Return it' %}</a>
{% endif %}
<hr>
<dl class="row">
    <dt class="col-sm-3">{% trans 'Title:' %}</dt>
    <dd class="col-sm-9">{{ object.title }}</dd>
    <dt class="col-sm-3">{% trans 'Genre:' %}</dt>
    <dd class="col-sm-9">{{ object.genre }}</dd>
    <dt class="col-sm-3">{% trans 'Authors:' %}</dt>
    <dd class="col-sm-9">
        {% for a in object.author.all %}<a href="{{ a.get_absolute_url }}">{{ a }}</a>{% endfor %}
    </dd>
    <dt class="col-sm-3">{% trans 'Position:' %}</dt>
    <dd class="col-sm-9">
        <dl class="row">
            <dt class="col-sm-4">{% trans 'Column:' %}</dt>
            <dd class="col-sm-8">{{ object.column }}</dd>
            <dt class="col-sm-4">{% trans 'Palco:' %}</dt>
            <dd class="col-sm-8">{{ object.palco }}</dd>
            <dt class="col-sm-4">{% trans 'Number:' %}</dt>
            <dd class="col-sm-8">{{ object.number }}</dd>
            <dt class="col-sm-4">{% trans 'Loan status:' %}</dt>
            <dd class="col-sm-8">
                {{ object.get_loan_status_display }}
                {% if user.is_authenticated %}
                by {{ object.loan_set.last.loan_holder }}
                {% endif %}
            </dd>
            <dt class="col-sm-4">ISBN</dt>
            <dd class="col-sm-8">{{ object.isbn | default_if_none:"-" }}</dd>
        </dl>
    </dd>
    {% if object.year_edition %}
        <dt class="col-sm-3">{% trans 'Year edition:' %}</dt>
        <dd class="col-sm-9">{{ object.year_edition }}</dd>
    {% endif %}
    {% if object.reprint_year %}
        <dt class="col-sm-3">{% trans 'Reprint year:' %}</dt>
        <dd class="col-sm-9">{{ object.reprint_year }}</dd>
    {% endif %}
</dl>

{% endblock content %}