body {
    margin: 0px;
    padding: 0px;
    font-size: 0.75em;
}

span {
    padding-bottom: 5px;
}

.logo {
    margin-top: 5px;
    width: 45px;
}

.wrapper {
    margin: 0;
    padding: 0;
}

.box {
    text-align: center;
    border: 1px dashed black;
    border-top: 0;
    border-left: 0;
    display: block;
    width: 102px;
    height: 400px;
    padding: 2px;
    float: left;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.breaker {
    height: 1px;
    page-break-after: always;
    page-break-inside: avoid;
    display: block;
    clear: both;
    width: 100%;
}
